@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html { padding: 0; margin: 0; }

body {
	margin: 0;
	padding: 0;

	min-height: 540px;
	width: 420px;

	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	background-color: #f4f4f4;
	display: none;
}

article {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	padding: 6px 16px;

	font-size: 10pt;
	color: #464646;

	box-sizing: border-box;
}

article .anounce {
	position: absolute;
	left: 22px;
	bottom: 1px;
}

article .anounce a {
	text-decoration: none;
	color: inherit;

}

article .livestream {
	color: #ff0517;
	text-transform: uppercase;
}

article .more-info {
	color: #000;
	text-transform: uppercase;

	border-bottom: 2px double #f4f4f4;
	border-radius: 4px;
	min-width: 71px;
	text-align: center;
	transition: border 1s;
}

article .more-info:hover {
	border-bottom: 2px double #000;
}

article .imgwrapper {
	position: relative;
	width: 80px;
	height: 80px;
	border: 1px solid #4b4b4b;
	border-radius: 100px;
	overflow: hidden;
	float: left;
	margin-right: 7px;
}

article .imgwrapper img {
	position: absolute;
	min-width: 80px;
	height: 100px;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	margin: auto;
}

article .missionTitle {
	font-size: 12pt;
	color: #000000;
	margin-bottom: 4px;
	width: calc(100% - 97px);
}

article .datetime {
	color: #171717;
}

article .datetime strong {
	font-weight: bold;
	font-size: 12px;
}

article:first-of-type {
	width: 100%;
	height: 100px;
	overflow: hidden;
	background-color: #ffffff;
	padding: 5px 0px 0px 10px;
}

article:first-of-type .imgwrapper {
	position: relative;
	width: 120px;
	height: 100px;
	border: none;
	border-radius: unset;
	overflow: hidden;
	float: right;
	margin-left: 7px;
	margin-right: 0px;
	border-bottom-left-radius: 60px;
	border-top-left-radius: 60px;
	top: -6px;
}

article:first-of-type .imgwrapper img {
	position: absolute;
	min-width: 100px;
	height: 180px;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	margin: auto;
}

article:first-of-type .anounce {
	position: absolute;
	padding: 1px 10px 1px 10px;
	border-radius: 4px;
}

article:first-of-type .anounce.livestream {
	left: unset;
	right: 0px;
	bottom: 5px;
	color: #ff0012;
	background-color: rgba(0, 0, 0, 0.70);
	border-radius: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;

	transition: background-color 1s, color 1s;
}

article:first-of-type .anounce.livestream:hover {
	background-color: rgba(0, 0, 0, 0.90);
	color: #fff;
}

article:first-of-type .anounce.more-info {
	left: unset;
	right: 146px;
	bottom: 2px;
	color: #000000;
	border-bottom: 2px double #fff;
	transition: background-color 1s, color 1s, border 1s;
}

article:first-of-type .anounce.more-info:hover {
	background-color: #000;
	color: #fff;
	border-bottom: 2px double #000;
}

article:first-of-type .anounce a {
	background-color: transparent;
}

article:first-of-type .missionTitle {
	width: calc(100% - 130px);
	margin-bottom: -4px;
}

article:first-of-type .tags {
	display: none;
}

article:first-of-type .rocket {
	display: none;
}

article:first-of-type .timeleft {
	width: 280px;
	height: 38px;
	text-align: center;
	font-size: 24px;
	color: black;
}

.ellipsis {
	text-overflow: ellipsis;

	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.loading {
	display: none;
	position: relative;
	width: 100px;
	height: 100px;

	left: calc(50% - 50px);
	top: 50px;

	-webkit-transition: margin-top 2s;
	-moz-transition: margin-top 2s;
	-o-transition: margin-top 2s;
	transition: margin-top 2s;
}

.error {
	display: none;
	margin-top: 50px;
	font-size: 12pt;
	color: #313131;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}