@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto:300,400,500|Roboto+Mono');

/* Cleanup job */ 
html { padding: 0; margin: 0; }

/* Setup window*/
body {
	margin: 0;
	padding: 0;

	min-height: 547px;
	width: 420px;

	font-family: 'Roboto Mono', monospace;
	background-color: #ffffff;

	overflow-y: hidden;
}


.wrapper {
	width: 100%;
	min-height: 100%;
	display: none;
	background-color: #dadfe1;
}

article:first-of-type {
	width: 100%;
	height: 94px;
	overflow: hidden;
	background-color: #fdfdfd;
	padding: 0px;
	margin-bottom: 10px;

	-webkit-box-shadow: 0px 2px 23px -4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 23px -4px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 23px -4px rgba(0,0,0,0.2);
}


article:first-of-type .imgwrapper {
	position: relative;
	overflow: hidden;

	/* Clean up job from the article tag */
	border: 0;
	border-radius: 0;
	margin-right: 0;

	/* Make the weird side inclination */
	width: 150px;
	height: 100%;
	-moz-clip-path: polygon(0% 100%, 30% 0%, 100% 0%, 100% 100%);
    -o-clip-path: polygon(0% 100%, 30% 0%, 100% 0%, 100% 100%);
    -webkit-clip-path: polygon(0% 100%, 30% 0%, 100% 0%, 100% 100%);
    clip-path: polygon(0% 100%, 30% 0%, 100% 0%, 100% 100%);

	/* Positioning */
	float: right;
	z-index: 10;
	/*top: -6px;*/
}

article:first-of-type .imgwrapper img {
	position: absolute;
	min-width: 150px;
	height: 180px;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	margin: auto;
}

article:first-of-type .anounce {
	position: absolute;
	right: 6px;
	left: unset;

	z-index: 15;
}

article:first-of-type .anounce.livestream {
	/* Positioning */
	right: 6px;
	bottom: 5px;

	/* Design */
	color: #ff0000;
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    padding: 0px 30px 0px 30px;

	/* Box around the text*/
	border-radius: 0;
	border: 2px solid #ff0000;

	/* animations / transitions */
	transition: background-color 1s;
}

article:first-of-type .anounce.livestream:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

article:first-of-type .anounce.more-info {
	/* Pisitioning */
	right: 6px;
	top: 5px;

	/* Design */
	min-width: 16px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	background-color: transparent;
	font-family: 'Inconsolata', monospace;
	text-transform: lowercase;

	/* Circle around text */
	border:  2px solid #ffffff;
	border-radius: 40px;

	/* animations / transitions */
	transition: background-color 1s, color 1s;
}

article:first-of-type .anounce.more-info:hover {
	color: rgb(240,240,240);
	background-color: rgba(0,0,0,0.2);
}

article:first-of-type  a {
	background-color: transparent;
}


article:first-of-type .launch-info {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 110px);
    height: 100%;
    padding: 2px 0 0 6px;

    -moz-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 90% 100%);
    -o-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 90% 100%);
    -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 90% 100%);
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 90% 100%);

    overflow: hidden;

    z-index: 5;
}

article:first-of-type .launch-info .missionTitle {
	width: 97%;
	margin-bottom: -4px;

	text-transform: uppercase;
	font-size: 14px;
	color: #1f2123;
	word-spacing: -3px;
}

article:first-of-type .launch-info .rocket {
	display: none;
}

article:first-of-type .launch-info .timeleft {
	width: 280px;
	height: 38px;
	text-align: center;
	font-size: 24px;
	color: #1f2123;
    margin-top: 4px;
}

article:first-of-type .launch-info .datetime {
    position: initial;
    bottom: auto;
    display: block;
    width: 84%;

    font-size: 12px;
    word-spacing: 0px;
    text-align: left;
}

article {
	position: relative;
	width: 100%;
	height: 100px;
	overflow: hidden;

	padding: 6px 0 0px 16px;
	margin-bottom: 8px;
	box-sizing: border-box;

	font-size: 10pt;
	background-color: transparent

	box-sizing: border-box;
}

article.gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0.96+31,0+100 */
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.96) 31%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 31%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 31%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

article .imgwrapper {
	position: absolute;
	top: 0;
	left: 0;

	width: 100px;
	height: 100px;
	overflow: hidden;

	background-color: #ffffff;
}

article .imgwrapper img {
	position: absolute;
	min-width: 100px;
	height: 100px;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	margin: auto;

    background-image: url(../img/default_rocket.png);
 	background-repeat: no-repeat;
    background-size: 138px 86px;
    background-position: center;
}

article .launch-info {
    position: absolute;
    right: 6px;
    left: 100px;
    top: 0;

    height: 100px;

    padding: 2px 0 0 6px;

    overflow: hidden;
}

article .launch-info .missionTitle {
	width: 100%;
	margin-bottom: -4px;

	text-transform: uppercase;
	font-size: 14px;
	color: #1f2123;
	word-spacing: -3px;
}

article .launch-info .launch-site,
article .launch-info .datetime,
article .launch-info .rocket {
	width: 95%;
    color: #6c7a89;
    font-size: 12px;
}

article .launch-info .datetime {
    position: absolute;
    bottom: 4px;
    display: block;
    width: 98%;

    font-size: 11px;
    word-spacing: 0px;
    text-align: center;
}

article .launch-info .datetime strong {
	font-weight: bold;
}

article .anounce {
	color: #000000;
	text-transform: uppercase;
}

article  a {
	text-decoration: none;
	color: inherit;
}

article .livestream {
	background-color: #b7abab;
	transition: background-color 0.5s;
}

article .livestream:hover {
	background-color: #d8a08f;
}

article .more-info {
	background-color: #abb7b7;
	transition: background-color 0.5s;
}

article .more-info:hover {
	background-color: #a7cab9;
}

article .btn {
	display: inline-block;
    width: 47%;
    height: 20px;
    margin: 7px 1% 0 1%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    border-radius: 2px;
    box-sizing: border-box;
}

article .btn.extended {
	width: 94%;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
    height: 20px;
    padding: 0 10px 0 10px;
    
	font-size: 10pt;
	line-height: 20px;
    text-align: center;
	font-family: 'Inconsolata', monospace;
	background-color: #6c7a89;
	color: #ffffff;

	transition: all 0.5s;
	cursor: help;
}

footer strong {
	font-size: 14pt;
	font-weight: normal;
}

footer a {
	background-color: transparent;
	color: #ffffff;
	text-decoration: none;
	cursor: crosshair;
}

footer:hover {
    background-color: #686d71;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ellipsis {
	text-overflow: ellipsis;

	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.loading {
	display: none;
	position: absolute;
	width: 100px;
	height: 100px;

	left: calc(50% - 50px);
	top: 5px;

	-webkit-transition: margin-top 2s;
	-moz-transition: margin-top 2s;
	-o-transition: margin-top 2s;
	transition: margin-top 2s;
}
