@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html { padding: 0; margin: 0; }

body {
	margin: 0;
	padding: 0;

	min-height: 80px;
	width: 420px;

	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	background-color: #f4f4f4;
}

article {
	position: relative;
	display: none;
	width: 100%;
	overflow-x: hidden;
	padding: 6px 16px;

	font-size: 10pt;
	color: #464646;

	box-sizing: border-box;
}

article .anounce {
	position: absolute;
	left: 12px;
	bottom: 3px;
	color: #ff0517;
}

article .anounce a {
	text-decoration: none;
	color: inherit;
}

article .imgwrapper {
	position: relative;
	width: 80px;
	height: 80px;
	border: 1px solid #4b4b4b;
	border-radius: 100px;
	overflow: hidden;
	float: left;
	margin-right: 7px;
}

article .imgwrapper img {
	position: absolute;
	min-width: 80px;
	height: 100px;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	margin: auto;
}

article .missionTitle {
	font-size: 12pt;
	color: #000000;
	margin-bottom: 4px;
	width: calc(100% - 97px);
}

article .datetime {
	color: #171717;
}

article .datetime strong {
	font-weight: bold;
	font-size: 12px;
}

article:first-of-type {
	width: 100%;
	height: 100px;
	overflow: hidden;
	background-color: #ffffff;
	padding: 5px 0px 0px 10px;
}

article:first-of-type .imgwrapper {
	position: relative;
	width: 120px;
	height: 100px;
	border: none;
	border-radius: unset;
	overflow: hidden;
	float: right;
	margin-left: 7px;
	margin-right: 0px;
	border-bottom-left-radius: 60px;
	border-top-left-radius: 60px;
}

article:first-of-type .imgwrapper img {
	position: absolute;
	min-width: 100px;
	height: 180px;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	margin: auto;
}

article:first-of-type .anounce {
	position: absolute;
	left: unset;
	right: 3px;
	bottom: 6px;
	color: #ff0517;
	padding: 1px 10px 1px 10px;
	border-radius: 4px;
	background-color: rgba(255,255,255,0.5);
}

article:first-of-type .anounce a {
	background-color: transparent;
}

article:first-of-type .missionTitle {
	width: calc(100% - 130px);
	margin-bottom: -4px;
}

article:first-of-type .tags {
	display: none;
}

article:first-of-type .rocket {
	display: none;
}

article:first-of-type .timeleft {
	width: 280px;
	height: 38px;
	text-align: center;
	font-size: 24px;
	color: black;
}

.ellipsis {
	text-overflow: ellipsis;

	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
}

.loading {
	display: none;
	width: 100%;
	height: 100px;
	text-align: center;
}

.error {
	display: none;
	margin-top: 50px;
	font-size: 12pt;
	color: #313131;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}